# External dependencies
libusb
usbxpress

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# linuxdeployqt
*releases/linux/usr/bin*
*releases/linux/usr/lib*
*releases/linux/usr/share/doc*
*releases/linux/usr/translations*
*releases/linux/usr/plugins*
*releases/linux/*.png
*releases/linux/*.desktop
*releases/linux/AppRun
